@model IEnumerable<BigSchool_1.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/Site.css" rel="stylesheet">

<div class="row" style="padding-top:50px;">
    <div class="col-md-4">
        <ul class="course">
            @foreach (var course in Model)
            {
                if (course.IsCanceled == false)
                {
                    <li>
                        <div class="date">
                            <div class="month">
                                @course.DateTime.ToString("MM")
                            </div>
                            <div class="day">
                                @course.DateTime.ToString("dd")
                            </div>
                        </div>
                        <div class="details">
                            <span class="lecturer">
                                @course.ApplicationUser.Name
                            </span>
                            <br />
                            <span class="category">
                                @course.Category.Name
                            </span>
                        </div>
                        <div style="padding-left: 70px; padding-top: 5px;">
                            <a class="btn btn-primary" href="@Url.Action("Edit","Courses",new { id = course.Id})">Edit</a> |
                            <a data-course-id="@course.Id" class="btn btn-danger js-cancel-course">Delete</a>
                        </div>
                    </li>
                }
               

            }
        </ul>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?",
                    function () {
                        $.ajax({
                            url: "/api/courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
        });
    </script>
}

